{% extends "members/teacher/base_site.html" %}

{% block title %}  Question Paper's {% endblock title %}

{% block main %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Question Paper's</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "teacher-index-view" %}">Home</a></li>
                <li class="breadcrumb-item active">Question Paper's</li>
            </ol>
        </nav>
    </div>

    <section class="section">

        <div class="row justify-content-center">

            <div class="col-12">

                <div class="card border border-dark shadow">

                    <div class="card-header text-center bg-primary text-light fw-bold fs-5">
                        {{subject}} Question Paper's
                    </div>

                    <div class="card-body pt-4">
                        {% include "components/alert.html" %}

                        <table class="table datatable">

                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Type</th>
                                    <th>Paper Title</th>
                                    <th>Total Marks</th>
                                    <th>Academic Year</th>
                                    <th>Exam Date</th>
                                    <th>Time</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for question_paper in question_papers %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{question_paper.question_paper_type}}</td>
                                        <td>{{question_paper.question_paper_title}}</td>
                                        <td>{{question_paper.question_paper_total_marks}}</td>
                                        <td>{{question_paper.academic_year_start}} - {{question_paper.academic_year_end}}</td>
                                        <td>{% if question_paper.exam_date %} {{question_paper.exam_date}} {% else %} {{'-'}} {% endif %}</td>
                                        <td>{% if question_paper.exam_hour %} {{question_paper.exam_hour}} Hour {% if question_paper.exam_minute %} {{question_paper.exam_minute}} Mins {% endif %} {% else %} {{'-'}} {% endif %}</td>
                                        <td>
                                            <a href="{% url "detail-question-paper-view" question_paper.id %}" class="btn btn-primary">
                                                <i class="bi bi-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>

                    </div>

                </div>

            </div>

        </div>


    </section>



</main>

{% endblock main %}