{% extends "members/teacher/base_site.html" %}

{% block title %} Create Question Set {% endblock title %}

{% block main %}

    <main id="main" class="main">
        
        <div class="pagetitle">
            <h1>Create Question Set</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "teacher-index-view" %}">Home</a></li>
                    <li class="breadcrumb-item active">Create Question Set</li>
                </ol>
            </nav>
        </div>

        <section class="section dashboard">
            <div class="row justify-content-center">
                <div class="col-lg-8">

                    <div class="card border border-dark shadow">

                        <div class="card-header text-center bg-primary text-light fw-bold fs-5">
                            Create Question Set
                        </div>
                        
                        <div class="card-body pt-4">
                            {% include "components/alert.html" %}

                            <form id="createQuestionSetForm" class="row g-3" method="post">
                                {% csrf_token %}

                                <div class="col-12">
                                    <label for="subjectCode" class="form-label">Subject</label>
                                    <select id="subjectCode" class="form-select" name="subject_code" required>
                                        <option value="">select subject</option>
                                        {% for subject in subjects %}
                                            <option value="{{subject.subject_code}}">{{subject}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-2">
                                    <label for="unit" class="form-label">Unit No.</label>
                                    <select id="unit" class="form-select" name="unit" required>
                                        <option value="">unit</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>

                                <div class="col-10">
                                    <label for="unitTitle" class="form-label">Unit Title</label>
                                    <input id="unitTitle" type="text" class="form-control" name="unit_title" required>
                                </div>

                                <div class="col-2">
                                    <label for="co" class="form-label">Co.</label>
                                    <select id="co" class="form-select" name="co" required>
                                        <option value="">co</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>

                                <div class="col-10">
                                    <label for="coTitle" class="form-label">CO Title</label>
                                    <input id="coTitle" type="text" class="form-control" name="co_title" required>
                                </div>

                                <div class=" col-12 text-center">
                                    <button type="submit" class="btn btn-primary">Create Question Set</button>
                                </div>
                            </form>
            
                        </div>

                    </div>
                    
                </div>
            </div>
        </section>

    </main>
{% endblock main %}
