{% extends "members/teacher/base_site.html" %}

{% block title %} Update Question's List {% endblock title %}

{% block main %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Question Paper</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "teacher-index-view" %}">Home</a></li>
                <li class="breadcrumb-item active">Update Question's List</li>
            </ol>
        </nav>
    </div>


    <section class="section">

        <div class="row justify-content-center">

            {% include "components/alert.html" %}

            <div class="col-12">

                <div class="card border border-dark shadow">

                    <div class="card-header text-center bg-primary text-light fw-bold fs-5">
                        Update {{question_paper.question_paper_title}} 
                    </div>
                    
                    <div class="card-body">

                        <h5 class="card-title text-dark pb-2 d-flex justify-content-between">
                            Q({{division.division_no}}). {{division.division_title}}
                            <span class="text-dark fs-6">(Marks :{{division.division_mark}})</span>
                        </h5>
                        
                        <form id="updateDivisionForm" method="post" class="row justify-content-between g-3">
                            {% csrf_token %}

                            <input type="hidden" name="division_id" id="divisionId" value="{{division.id}}">

                            <div class="col-2">
                                <label for="divisionNo" class="form-label">Q No.</label>
                                <input type="number" min="1" class="form-control" id="divisionNo" name="division_no" value="{{division.division_no}}" required>
                            </div>

                            <div class="col-10">
                                <label for="divisionTitle" class="form-label">Question Title</label>
                                <input type="text" class="form-control" id="divisionTitle" name="division_title" value="{{division.division_title}}" required>
                            </div>

                            <div class="col-4">
                                <label for="divisionMark" class="form-label">Question Marks</label>
                                <input type="number" min="1" class="form-control" id="divisionMark" name="division_mark" value="{{division.division_mark}}" required>
                            </div>

                            <div class="col-4">
                                <label for="markPerQuestion" class="form-label">Marks/Question</label>
                                <input type="number" min="1" class="form-control" id="markPerQuestion" name="mark_per_question" value="{{division.mark_per_question}}" required>
                            </div>

                            <div class="col-4">
                                <label for="extraQuestion" class="form-label">Extra Questions</label>
                                <input type="number" min="0" class="form-control" id="extraQuestion" name="extra_question" value="{{division.extra_question}}" required>
                            </div>

                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary">Save Question</button>
                                <a href="{% url "detail-question-paper-view" question_paper.id  %}" class="btn btn-secondary">Back</a>
                            </div>
                                                        
                        </form>

                    </div>

                </div>

            </div>

            <div class="col-12">

                <div class="card border border-dark shadow">

                    <div class="card-header text-center bg-primary text-light fw-bold fs-5">
                        Update {{question_paper.question_paper_title}} Question's
                    </div>
                    
                    <div class="card-body">

                        <h5 class="card-title text-dark pb-2 mb-3 d-flex justify-content-between">
                            Q({{division.division_no}}). {{division.division_title}}
                            <span class="text-dark fs-6">(Marks :{{division.division_mark}})</span>
                        </h5>
                        
                        <form id="updateQuestionListForm" method="post" class="row justify-content-between g-3">
                            {% csrf_token %}

                            <input type="hidden" name="division_id" id="divisionId" value="{{division.id}}">
                            <input type="hidden" name="question_paper_id" id="questionPaperId" value="{{question_paper.id}}">
                            
                            {% for question_set in question_sets  %}

                            <div class="row mb-3">
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <span class="fw-semibold">Unit No ({{question_set.unit}})</span>
                                    </div>
                                    <div class="col-10">
                                        <p class="card-text">: {{question_set.unit_title}}</p>
                                    </div>
                                </div>

                                <div class="row justify-content-between">
                                    <div class="col">
                                        <span class="fw-semibold">CO ({{question_set.co}})</span>
                                    </div>
                                    <div class="col-10">
                                        <p class="card-text">: {{question_set.co_title}}</p>
                                    </div>
                                </div>
                            </div>
                            
                            <table class="table mb-3">
                                <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>No</th>
                                        <th style="width:60%;">Question Title</th>
                                        <th>Marks</th>
                                        <th colspan="2">RUA Levels</th>
                                    </tr>
                                </thead>

                                <tbody>
                                
                                    {% for question in question_set.filtered_questions%} 
                                    <tr>
                                        <td><input {% if question in division.division_questions.all %} checked {% endif %} type="checkbox" name="selected_question_id[]" value="{{question.id}}" class="form-check-input" style="width: 25px; height: 25px;"></td>
                                        <td>{{forloop.counter}}</td>
                                        <td style="width:60%;">{{question.question_title}}</td>
                                        <td>{{question.question_mark}}</td>
                                        <td colspan="2">{{question.question_levels}}</td>
                                    </tr>
                                    {% endfor %}
                                
                                </tbody>

                            </table>
                            
                            {% endfor %}

                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary"> Save Questions</button>
                            </div>

                        </form>


                    </div>

                </div>

            </div>

        </div>

    </section>

</main>

{% endblock main %}