.authenticate {
    background-image: url('../img/auth_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


  .index-bg {
    background-image: url('../img/index_bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }