{% extends "members/teacher/base_site.html" %}

{% block title %} Create Question  {% endblock title %}


{% block main %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Create Division</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "teacher-index-view" %}">Home</a></li>
                    <li class="breadcrumb-item active">Create Question</li>
                </ol>
            </nav>
        </div>
        
        <section class="section dashboard">
            <div class="row justify-content-center">
                <div class="col-9">
         
                    <div class="card ">
                        <div class="card-header text-center bg-primary text-light fw-bold fs-5">
                            Create Question for {{question_paper.question_paper_title}}
                        </div>

                        <div class="card-body">

                            <h5 class="card-title">Fill details and proceed to select questions.</h5>

                            {% include "components/alert.html" %}

                            <form id="createDivisionForm" method="post" class="row justify-content-between g-3">
                                {% csrf_token %}

                                <input type="hidden" name="question_paper_id" id="questionPaperId" value="{{question_paper.id}}">

                                <div class="col-2">
                                    <label for="divisionNo" class="form-label">Q No.</label>
                                    <input type="number" min="1" class="form-control" id="divisionNo" name="division_no" required>
                                </div>

                                <div class="col-10">
                                    <label for="divisionTitle" class="form-label">Question Title</label>
                                    <input type="text" class="form-control" id="divisionTitle" name="division_title" required>
                                </div>

                                <div class="col-4">
                                    <label for="divisionMark" class="form-label">Question Marks</label>
                                    <input type="number" min="1" class="form-control" id="divisionMark" name="division_mark" required>
                                </div>

                                <div class="col-4">
                                    <label for="markPerQuestion" class="form-label">Marks Per Question</label>
                                    <input type="number" min="1" class="form-control" id="markPerQuestion" name="mark_per_question" required>
                                </div>

                                <div class="col-4">
                                    <label for="extraQuestion" class="form-label">Extra Questions</label>
                                    <input type="number" min="0" class="form-control" id="extraQuestion" name="extra_question" required>
                                </div>

                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-primary">Select Questions</button>
                                </div>
                                                            
                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </section>

    </main>

{% endblock main %}